@import '../../main.scss';

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $color-primary;
  color: $color-text-primary;
  font-size: 1.2rem;
  font-weight: $font-weight-medium;
  position: relative;
  
  &::after {
    content: '';
    width: 48px;
    height: 48px;
    border: 5px solid $color-text-secondary;
    border-bottom-color: $color-accent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: calc(50% + 40px);
    left: calc(50% - 24px);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 